*.class

/.gradle/
/.metadata/
/.settings/
/assets/
/bin/
/run/
/build/
/config/
/crash-reports/
/logs/
/mods/
/debug/
/resourcepacks/
/saves/
/.classpath
/.project
/options.txt
/screenshots
/*.txt
/*.log
/server.properties
/world
/usernamecache.json
/usercache.json
/asm
/eclipse/
*.launch
