*.class

/.gradle/
/.metadata/
/.settings/
/assets/
/bin/
/build/
/config/
/crash-reports/
/logs/
/mods/
/resourcepacks/
/saves/
/.classpath
/.project
/options.txt
/screenshots
/*.txt
/server.properties
/world